.add-on {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D6D9E6;
    border-radius: 8px;
    padding: 16px 24px 20px 24px;
}

.add-on.selected {
    background: #F8F9FF;
    border: 1px solid #483EFF;
}

.add-on-left-section {
    display: flex;
    align-items: center;
}

.add-on.checked {
    border: 1px solid #483EFF;
    background: #F8F9FF;
}

.add-on-checkbox {
    width: 20px;
    height: 20px;
}

.add-on-checkbox:checked {
    /* background: #483EFF; */
    accent-color: #483EFF;
    border-radius: 4px;
    border-color: red;
    background-color:red;
}

.add-on-description {
    margin-left: 24px;
}

.add-on-description h2 {
    font-weight: 500;
    font-size: 16px;
    color: #022959;
}

.add-on-description p {
    font-weight: 400;
    font-size: 14px;
    color: #9699AA;
}

.add-on-cost {
    font-weight: 400;
    font-size: 14px;
    color: #483EFF;
}

@media (max-width: 500px) {
    .add-on-description h2 {
        font-size: 14px;
    }

    .add-on-description p {
        font-size: 12px;
    }

    .add-on-cost {
        font-size: 12px;
    }
    
}